alembic==1.7.7
aniso8601==9.0.1
attrs==21.4.0
Babel==2.10.1
blinker==1.4
certifi==2022.6.15
charset-normalizer==2.1.0
click==7.1.2
colorama==0.4.4
dnspython==2.2.1
email-validator==1.1.3
Flask==1.1.4
Flask-Admin==1.6.0
Flask-Dance==5.1.0
Flask-Login==0.5.0
Flask-Mail==0.9.0
flask-marshmallow==0.14.0
Flask-Migrate==2.6.0
Flask-Minify==0.37
Flask-MySQLdb==1.0.1
flask-restx==0.5.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
greenlet==1.1.2
gunicorn==20.1.0
htmlmin==0.1.12
idna==3.3
importlib-metadata==4.8.3
importlib-resources==5.4.0
itsdangerous==1.1.0
Jinja2==2.11.3
jsmin==3.0.1
jsonschema==4.0.0
lesscpy==0.15.0
Mako==1.1.6
MarkupSafe==2.0.1
marshmallow==3.14.1
marshmallow-sqlalchemy==0.22.3
mysqlclient==2.1.1
oauthlib==3.2.0
Pillow==8.4.0
ply==3.11
pyrsistent==0.18.0
python-dotenv==0.19.2
pytz==2022.1
rcssmin==1.1.0
requests==2.28.1
requests-oauthlib==1.3.1
six==1.16.0
SQLAlchemy==1.4.29
typing_extensions==4.1.1
urllib3==1.26.11
URLObject==2.4.3
Werkzeug==1.0.1
WTForms==3.0.0
xxhash==3.0.0
zipp==3.6.0
pyOpenSSL
flask_mysqldb
ccxt
